In [45]:
"""
import json
import regex as re
import pandas as pd
import numpy as np

with open("./dict_wB.json", 'r') as fp:
    data = json.load(fp)


df = pd.DataFrame([], columns = ['FILENAME', 'REGISTRO', 'FECHA REGISTRO', 'FECHA EXPEDICION', \
    'NOMBRE', 'NIF', 'NUMERO DE FACTURA', 'BASE', '%IVA', 'IVA CANT', 'TOTAL'])

for filename in data.keys():
    PROTO = pd.DataFrame([filename], columns=['FILENAME'])
    df = df.append(PROTO, ignore_index=True)
"""
dic = {"hola":4, "que":3, "sasd":1,"rty":5} 
arr = ["hola", "que"]
print(dic[arr])

In [43]:
df

,FILENAME,REGISTRO,FECHA REGISTRO,FECHA EXPEDICION,NOMBRE,NIF,NUMERO DE FACTURA,BASE,%IVA,IVA CANT,TOTAL
0,12OCR (1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ffe46bfc08b4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IVALINEAS1 (1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IVALINEAS2 (1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IVALINEAS3 (1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,IVANORMAL2 (1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,IVANORMAL3 (1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,codigoqr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,factura-luz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,modelo-factura-es-clasico-blanco-750px,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,modelo-factura-es-puro-750px,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,prueba 1_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,prueba 1_10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,prueba 1_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,prueba 1_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,prueba 1_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,prueba 1_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,prueba 1_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,prueba 1_6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,prueba 1_9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ticket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN